/*Navbar*/
/*.container {
	background-image: url("../assets/paris-bw-01.png"); 
}*/

h1 {
	font-family: Tw Cen MT;
	font-size: 25px;
	color: #fff;
	text-shadow: 0px 0px 5px #fff;

	
}
.image-overlay-text{
	font-family: Tw Cen MT;
	font-size: 25px;
	color: #fff;
	text-shadow: 0px 0px 2px #000;
	position: relative;
	top: -170px;
	left: 15px;

}

h2 {
	font-family: Tw Cen MT;
	font-size: 45px;
	display: block;
}
h3 {
  font-weight: bold;
  font-family: Tw Cen MT;
}

h4 {
	font-family: Tw Cen MT;
	font-size: 20px
}

h5 {
	font-family: Tw Cen MT;
	font-size: 25px;
}

p {
  font-size: 17px;
  font-family: Tw Cen MT;
}

ul {
  font-size: 17px;
  font-family: Tw Cen MT;
}

ol {
  font-size: 17px;
  font-family: Tw Cen MT;
}

a {
  color: #0099ff;
}

a:hover {
  color: #0099ff;
  font-weight: bold;
}


body {
	padding-top: 50px;
}

#full{
	/*position: relative;*/
	width: 100%;
	height: 400px;
	background-color: #000;
	background-image: url("../assets/OWM_Antarctica_contextLabels-01.png");
	background-size: cover;
	background-repeat: none;
}

#JTtext{
	position: absolute;
	/*z-index: 2000;*/
	top: 40%;
	left: 15%;
	width: 70%;
}

.hugeText{
	font-size: 70px;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 15px rgba(0,0,0,0.85)

}


.container {
	background-image: url("../assets/belize-texture.png");
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	height: 100%;
}

.container-fluid {
	background-image: url("../assets/belize-texture.png");
	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	height: 100%;
}

.container-up {
  	padding-right: 15px;
  	padding-left: 15px;
  	margin-right: auto;
  	margin-left: auto;
  	box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.3)
}



.navbar-default {
	border-radius: 0;
	background-image: url("../assets/ParisTexture.png");
}

.navbar-default .navbar-brand {
	font-size: 20px;
	font-family: Tw Cen MT;
	color: #000;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbbar-brand:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000;
	font-weight: bolder;
	font-family: Tw Cen MT;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	font-size: 16px;
	font-family: Tw Cen MT;
	font-weight: lighter;
}

.navbar-header .navbar-toggle {
	color: #000000;
}

.jumbotron {
	display: block;
	max-height: 50px;
	text-align: left;
	font-family: Tw Cen MT;
	background-color: #fff;
}
.portfolio-thumbnail:hover {
	border-width: 3px;
	border-color: #000;

}

.portfolio-thumbnail {
	background-color: #000;

}

#city {
	max-width: 256px;
	max-height: 256px;
}

.glyphicon-menu-hamburger:hover {
	color: #000;
	
}

.navbar-toggle:hover {
	background-color:#000000;
}


.thumbnail {
	max-width: 212.5px;
	max-height: 212.5px;
}

.image-overlay {
	position: absolute;
	top: 0px;
	bottom: 0;
	left: 30px;
	right: 25px;
	background: none;
	color: #000;
	font-weight: bold;
	/*text-shadow:0px 0px 20px #fff;*/

	visibility: hidden;
	opacity: 0;
}

.thumbnail:hover .image-overlay {
	visibility: visible;
	opacity: 1;
}

/*Image Sizing Specifics*/

#Niger {
	max-width: 4.5in;
	max-height: 6.5in;
}

#Construction {
	max-width: 4.7in;
	max-height: 4in;
	margin-right: 400px;
}

#PopChange {
	max-width: 4.5in;
	max-height: 7.5in;
	margin-right: 400px;
}

#Chicago {
	max-width: 4.5in;
	max-height: 7.5in; 
}

#graphic {
	max-width: 4.5in;
	max-height: 7.5in;
}

#Cartagena {
	max-width: 8in;
	max-height: 5in;
	margin-bottom: 100px;
}

#McCoy {
	min-width: 4.5in;
	max-width: 7.6in;
	min-height: 4.5in;
	max-height: 4.6in;
}

#Gotham {
	margin-bottom: 50px 
}

#turkeyImage {
	max-width: 800px;
	padding-top: 40px;
}

#pxpf2 {
	padding-top: 40px;
}

#safeWalkingImage {
	max-width: 300px;
}

#CLimage {
	max-width: 600px;
}






